<div>
  <h2>Liste des Requêtes</h2>
  <!-- Bouton pour ajouter une nouvelle requête -->
  <button routerLink="/request">Ajouter une nouvelle requête</button>

  <!-- Tableau des requêtes -->
  <table *ngIf="requests.length > 0">
    <thead>
      <tr>
        <th>Nom du Projet</th>
        <th>Description</th>
        <th>Budget Estimé</th>
        <th>Durée Estimée</th>
        <th>Localisation Géographique</th>
        <th>ID Utilisateur</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <td>{{ request.project_name }}</td>
        <td>{{ request.description }}</td>
        <td>{{ request.estimated_budget }}</td>
        <td>{{ request.estimated_duration }}</td>
        <td>{{ request.geographic_location }}</td>
        <td>{{ request.user?.id }}</td>
        <td>
          <button class="btn-update" routerLink="/request/{{request.id_projet}}">Update</button>
          <button class="btn-delete"(click)="deleteRequest(request.id_projet)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="requests.length === 0">Aucune requête trouvée.</p>
</div>